{
  "Name": "{{ registry_name }}",
  "URL": "{{ registry_url }}:{{ registry_port }}",
  "Authentication": {{ registry_auth | default('false')}},
  "Type": {{ registry_type | default(3)}},
  "Username": "{{ registry_username }}",
  "Password": "{{ registry_password }}"
}
